spring:
  application:
    name: recipe
  datasource:
    url: jdbc:mysql://localhost:3306/recipedb?allowMultiQueries=true
    username: root
    password: 123456
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
  batch:
    jdbc:
      initialize-schema: ALWAYS
    job:
      enabled: false